
  .containers {
    /* max-width: 1400px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .containers {
      /* Less padding on smaller screens */
      padding: 0 10px; 
    }
  }
  
  
  .logo-annex {
    display: inline-block;
    margin-top: 2px;
    background: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 1px 0 #4e4e4e;
    -webkit-box-shadow: 0 1px 0 #4e4e4e;
    -moz-box-shadow: 0 1px 0 #4e4e4e;
    width: 40px !important;
    height: 40px;
  }


  .logo-annex img {
    width: 30px !important;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
  }

  .appTitle-background {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    background: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 5px;
    box-shadow: 0 1px 0 #4e4e4e;
    -webkit-box-shadow: 0 1px 0 #4e4e4e;
    -moz-box-shadow: 0 1px 0 #4e4e4e;
    width: 111px !important;
    height: 25px;
  }

  .appTitle {
    display: block;
    float: left;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 10px 5px !important;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background: linear-gradient(to bottom, #001f3d, #6495ed); */
    background-clip: text; 
    -webkit-background-clip: text;
    text-shadow: 
      1px 1px 2px rgba(0, 0, 0, 0.8), 
      -1px -1px 2px rgba(255, 255, 255, 0.5);
  }
  

  .pageTitle {
    display: block;
    float: left;
    color: #626262;
    font-size: 16px;
    font-weight: bold;
    margin: 21px 30px 21px 0;
    text-transform: uppercase;
  }

  .circle-button-a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
  }
  .circle-button-i {
    color: grey;
    margin: 0;
    font-size: 20px;
  }

  .vs-top {
    margin-bottom: -15px !important;
  }

  .modal-body .formRow {
    margin-top: -25px !important;
  }
  
  .modal-header button {
    font-size: 14px !important;
  }