
  .container {
    /* max-width: 1400px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .container {
      /* Less padding on smaller screens */
      padding: 0 10px; 
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      /* Larger width for big screens */
      /* max-width: 1340px;  */
    }
  }
  
  .logo-annex {
    display: inline-block;
    margin-top: 2px;
    background: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 1px 0 #4e4e4e;
    -webkit-box-shadow: 0 1px 0 #4e4e4e;
    -moz-box-shadow: 0 1px 0 #4e4e4e;
    width: 40px !important;
    height: 40px;
  }


  .logo-annex img {
    width: 30px !important;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
  }


  .appTitle-background {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    background: #262626;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 5px;
    box-shadow: 0 1px 0 #4e4e4e;
    -webkit-box-shadow: 0 1px 0 #4e4e4e;
    -moz-box-shadow: 0 1px 0 #4e4e4e;
    width: 111px !important;
    height: 25px;
  }